.her {
    background: #eee;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.msg{
    width: 40%;
    height: 100px;
    position: absolute;
    
    top: 100px;right: 40px;
   
   
}
.cart{
    position: absolute;
    width: 50%;
    height: 100px;
    top: 100px;left: 40px;
}
